<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Thymeleaf</title>
</head>

<body>
    <h1>Hello Practice Thymeleaf</h1>
    <p> Hello world!</p>
    <ul>
        <li>Lists can be created using ul element that contains li elements </li>
        <li>Ordered lists are done with ol element that contains li elements </li>
    </ul>
    <h2>
        Some useful HTML-elements
    </h2>
    <h2 th:text="${paramName0}"></h2>
    <h1 th:text="${paramName1}"></h1>
    <h1>Mambo siciliano</h1>

    <p th:each="elem : ${list}">
        <span th:text="${elem}">hello world!</span>
    </p>

    <table>
        <tr>
            <td>Element</td>
            <td>Purpose</td>
        </tr>
        <tr>
            <td>Table</td>
            <td>creates a table</td>
        </tr>
        <tr>
            <td>tr</td>
            <td>creates a row within a table</td>
        </tr>
        <tr>
            <td>td</td>
            <td>creates a cell  within a row</td>
            <td>3rd cell</td>
        </tr>
    </table>

    <!-- <a href="/video" th:href="@{/video}">Click here to see a video!</a> -->

</body>

</html>